#about{
  scroll-margin-top: 35rem;
}
.about-container{
  width: 80%;
  margin: 2rem auto;
}

.about-title{
  font-size: 2rem;
  font-family: 'Bungee', sans-serif;
  color: var(--celeste);
}

.about-title > span{
  color: var(--red);
}

.about-text{
  font-size: 1rem;
  line-height: 1.2rem;
  font-family: 'Passion One', sans-serif;
}

.steve-container{
  background-image: url(../../images/steve.jpg);
  object-fit:cover;
  background-size:cover;
  background-repeat:no-repeat;
  height: 20rem;
  width: 80%;
  margin: 0 auto;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--celeste);
  font-family: 'Bungee', sans-serif;
  font-size: 2rem;
  line-height: 2.5rem;
  padding: 0;
  transition: all .5s;
}
.frase{
  text-align: center;
  font-size: 1.5rem;
  line-height: 2rem;
  display: none;
  border-radius: 1rem;
}
.steve-container:hover .frase{
  display: inline;
  z-index: 1;
}
.steve-container:hover{
  background-image: none;

}


@media (min-width: 750px){
  #about{
    scroll-margin-top: 35rem;
  }
  .about-container{
    display: flex;
    justify-content: space-between;
  }
  .about-info{
    width: 50%;
  }
  .about-title{
    font-size: 3rem;
  }

  .about-text{
    font-size: .8rem;
    line-height: 1rem;
  }
  .steve-container{
    width: 40%;
    height: 20rem;
    margin-left: 2rem;
  }
  .frase{
    font-size: 1.5rem;
    line-height: 2.2rem;
  }
}
@media (min-width: 1000px){
  #about{
    scroll-margin-top: 10rem;
  }
  .steve-container{
    margin: 0;
  }
  .about-info{
    width: 50%;
  }
  .about-title{
    font-size: 6rem;
  }

  .about-text{
    font-size: 1.3rem;
    line-height: 1.5rem;
  }

  .steve-container{
    width: 40%;
    height: 35rem;
    margin-left: 2rem;
  }
  .frase{
    font-size: 3rem;
    line-height: 3.5rem;
  }
}

@media (min-width: 1900px){
  .about-text{
    font-size: 1.5rem;
    line-height: 1.7rem;
  }
}
