.leaflet-container{
  height: 15rem;
  z-index: 0;
}


@media (min-width: 750px){
  .leaflet-container{
    width: 40%;
  }
  .map{
    display: flex;
    }
}
@media (min-width: 1000px){
  .leaflet-container{
    width: 30%;
  }
}
