.header{
  position: sticky;
  top: 0;
  z-index: 3;
  box-shadow: 0 5px 15px rgb(41, 41, 41);
}
.logo-button-container{
  width: 100%;
  background-color: #e1e5eb;
  padding: 1rem 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: flex-end;
  top: 0;
  user-select: none;
}

.header-button{
  cursor: pointer;
  display: none;
}

.header-nav{
  background-color: #e5232d;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Bungee', sans-serif;
}

.header-ul{
  display: flex;
  align-items: center;
  margin: 0;
}
.header-li{
  margin: 0 1rem;
  font-weight: bold;
  transition: all .5s;
  position: relative;
}

.header-li a{
  padding: .5rem 1.2rem;
}
.header-li:after{
  content: '';
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: 0;
  left: 0;
  background-color: white;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.4s ease-out;
}

.header-li:hover:after{
  transform: scaleX(1);
  transform-origin: bottom left;
}

.flags{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-self: center;
}
.flag-li{
  padding: .4rem 1rem;
  margin: .4rem .5rem;
  cursor: pointer;
  border-radius: 1rem;
}

.flag-li:hover{
  background-color: #e1e5eb;
}

.flag{
  width: 1.5rem;
}
.flag>img{
  width: 100%;
}
@media (max-width:780px){
  .logo-button-container{
    justify-content: space-between;
    padding: 1rem 1rem;
  }
  .header-button{
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
    padding: 0;
  }
  .header-button span{
    border-radius: .5rem;
    background-color: var(--celeste);
    width: 3rem;
    height: .5rem;
    margin: .3rem 0;
  }
  .header-button .top-line-unclicked{
    transition: ease-out .5s;
  }
  .header-button .top-line-clicked{
    transform: translateY(.95rem) rotate(-45deg);
    transition: ease-out .5s;
    width: 3.5rem;
    margin: 0;
  }
  .header-button .middle-line-unclicked{
    transition: ease-out .5s;
  }
  .header-button .middle-line-clicked{
    transform: scale(.01);
    transition: ease-out .5s;
  }
  .header-button .bottom-line-unclicked{
    transition: ease-out .5s;
  }
  .header-button .bottom-line-clicked{
    transform: translateY(-.95rem) rotate(45deg);
    width: 3.5rem;
    transition: ease-out .5s;
  }

  .header-nav{
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    opacity: 0;
    height: 0;
    overflow: hidden;
    transition: all .5s ease;
  }
  .header-nav.active{
    opacity: 1;
    height: 40vh;
  }
  .header-ul{
    padding: 0;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .header-li{
    margin: .5rem 0;
  }

  .flags{
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 1.2rem 0;
  }
  .flag-li{
    margin: 0 1rem;
  }

  .flag{
    width: 2rem;
  }
  .flag>img{
    width: 100%;
  }
}
@media (max-width:420px) {
  .header-nav.active{
    opacity: 1;
    height: 50vh;
  }
}
